/// color||Color|0
$--button-default-font-color: #888 !default;
/// color||Color|0
$--button-default-background-color: #ffffff !default;
/// color||Color|0
$--button-default-border-color: #dcdfe6 !default;
$chart-bkg-color: #f4f4f4;
$--theme-color: #caf0f8;
$--content-font-color: #888;
$--decent-blue: #00a6fb;
